aiohttp==3.6.2
alpaca-backtrader-api==0.8.0
alpaca-trade-api==0.48
alpha-vantage==2.2.0
async-timeout==3.0.1
asyncio-nats-client==0.10.0
attrs==19.3.0
backtrader==1.9.74.123
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.4.5.1
chardet==3.0.4
cycler==0.10.0
Deprecated==1.2.10
idna==2.9
kiwisolver==1.2.0
matplotlib==3.2.1
multidict==4.7.6
multitasking==0.0.9
numpy==1.18.4
pandas==1.0.3
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
QuantStats==0.0.25
requests==2.23.0
scipy==1.4.1
seaborn==0.10.1
six==1.14.0
soupsieve==2.0.1
tabulate==0.8.7
urllib3==1.24.3
websocket-client==0.57.0
websockets==8.1
wrapt==1.12.1
yarl==1.4.2
yfinance==0.1.54
